<div id="loading" class="loading-overlay" *ngIf="isLoading">
  <div class="loading-spinner"></div>
</div>

<div id="loading" class="loading-overlay" *ngIf="isLoadingGrid">
  <div class="loading-spinner"></div>
</div>


<div class="container-fluid">
  <app-page-title title="Operaciones"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <!-- <div>
                <h2>Orders Component</h2>
                <p>Cliente: {{ clienteNombre }}</p>
                <p>Afiliado Nombre: {{ afiliadoNombre }}</p>
                <p>Enviado Nombre: {{ enviadoNombre }}</p>
                <p>Afiliado Nombre Corto: {{ afiliadoNombreCorto }}</p>
                <p>Tipo de Operación: {{ tipoOperacionNombre }}</p>
                <p>Logotipo Reporte: <img [src]="logotipoReporte" alt="Logotipo Reporte" style="height: 50px;"></p>
              </div> -->
              <div class="dataTables_length">
                <label class="d-inline-flex align-items-center" style="margin-left: 15px;">Inicio:
                  <input type="date" class="form-control" [(ngModel)]="informacionStartDate"
                    (change)="filterInformacionByDateRange()">
                </label>
                <label class="d-inline-flex align-items-center" style="margin-left: 15px;">Fin:
                  <input type="date" class="form-control" [(ngModel)]="informacionEndDate"
                    (change)="filterInformacionByDateRange()">
                </label>
                <span [@fadeInUp] *ngIf="showTotalRecordsMessage" class="d-inline-flex align-items-center"
                  style="margin-left: 15px;">
                  Total de registros por fecha: {{ filteredInformacion.length }}
                </span>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                <label class="d-inline-flex align-items-center" style="margin-left: 15px;">Buscar:&nbsp;&nbsp;
                  <input type="text" class="form-control" [(ngModel)]="informacionSearchTerm"
                    (input)="performInformacionSearch()" placeholder="Buscar...">
                </label>
              </div>
            </div>
          </div>

          <!-- Primera tabla (Informacion) -->
          <div class="table-responsive mb-4 col-12 col-lg-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive content-cards" style="max-height: 430px;">
                        <table
                          class="table table-centered datatables dt-responsive nowrap table-card-list compact-table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Fecha Factura</th>
                              <th>Folio Factura</th>
                              <th>Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of filteredInformacion; let i = index">
                              <td>{{ i + 1 + informacionStartIndex }}</td>
                              <td>{{ data.FechaFactura | date: 'dd-MM-yyyy' }}</td>
                              <td>{{ data.FolioFactura }}</td>
                              <td>
                                <button type="button" (click)="showInfo(data.Id, data.FechaFactura)"
                                  class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                  View Details
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-3">
                        <label class="d-inline-flex align-items-center">Mostrar
                          <select name="informacionPageSize" [(ngModel)]="informacionPageSize"
                            class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm"
                            (change)="onInformacionPageSizeChange()">
                            <option *ngFor="let option of informacionPageSizeOptions" [ngValue]="option">{{ option }}
                            </option>
                          </select>
                        </label>
                        <div class="pagination-controls ms-auto">
                          <button class="btn btn-secondary" [disabled]="informacionCurrentPage === 0"
                            (click)="onInformacionPreviousPage()">Anterior</button>&nbsp;&nbsp;
                          <span>Página {{ informacionCurrentPage + 1 }} de {{ informacionTotalPages }} ({{
                            informacionTotalRecords }} items)</span>&nbsp;&nbsp;
                          <button class="btn btn-secondary"
                            [disabled]="informacionCurrentPage === informacionTotalPages - 1"
                            (click)="onInformacionNextPage()">Siguiente</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Segunda tabla (serviceTransactions) -->
          <!-- Segunda tabla (serviceTransactions) -->
          <div *ngIf="showServiceTable" class="table-responsive mb-4 col-12 col-lg-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="col-sm-12 col-md-6" style="display: flex; align-items: center;">
                        <div class="dataTables_length">
                          <div style="margin-right: 10px;">
                            <span class="transacciones">Transacciones:</span>
                            <span class="respuesta">ID: {{ selectedId }}   -   Año: {{ selectedYear }}</span>
                            <button type="button"  class="btn btn-warning" style="margin-left: 15px; margin-top: -5px;">
                              <i class="uil uil-check me-2"></i> Obtener Datos Correctos
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-md-2">
                        <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length">
                            <label class="d-inline-flex align-items-center" style="margin-left: 15px;">Inicio:
                              <input type="date" class="form-control" [(ngModel)]="serviceStartDate"
                                (change)="filterServiceTransactionsByDateRange()">
                            </label>
                            <label class="d-inline-flex align-items-center" style="margin-left: 15px;">Fin:
                              <input type="date" class="form-control" [(ngModel)]="serviceEndDate"
                                (change)="filterServiceTransactionsByDateRange()">
                            </label>
                            <span [@fadeInUp] *ngIf="showTotalRecordsMessage" class="d-inline-flex align-items-center"
                              style="margin-left: 15px;">
                              Total de registros por fecha: {{ filteredServiceTransactions.length }}
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                            <label class="d-inline-flex align-items-center"
                              style="margin-left: 15px;">Buscar:&nbsp;&nbsp;
                              <input type="text" class="form-control" [(ngModel)]="serviceSearchTerm"
                                (input)="performServiceSearch()" placeholder="Buscar...">
                            </label>
                            <button type="button" class="btn btn-primary" style="margin-left: 15px;"
                              (click)="exportToPDF()">
                              Descargar PDF <i class="uil uil-arrow-right ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-success" style="margin-left: 15px;"
                              (click)="exportToExcel()">
                              <i class="uil uil-check me-2"></i> Descargar Excel
                            </button>
                          </div>
                        </div>
                      </div>
                      <div id="tableContainer" class="table-responsive content-cards">
                        <table
                          class="table table-centered datatables dt-responsive nowrap table-card-list compact-table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Date</th>
                              <th>Time</th>
                              <th>OUT IP</th>
                              <th>IN IP</th>
                              <th>GEO OUT</th>
                              <th>GEO IN</th>
                              <th>CARRIER</th>
                              <th>PRODUCT</th>
                              <th>AMOUNT</th>
                              <th>PHONE</th>
                              <th>TRN</th>
                              <th>STATUS</th>
                              <th>T TIME</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let transaction of filteredServiceTransactions; let i = index">
                              <th scope="row">{{ i + 1 + serviceStartIndex }}</th>
                              <td>{{ transaction.DATE }}</td>
                              <td>{{ transaction.TIME }}</td>
                              <td>{{ transaction.OUT_IP }}</td>
                              <td>{{ transaction.IN_IP }}</td>
                              <td>{{ transaction.GEO_OUT }}</td>
                              <td>{{ transaction.GEO_IN }}</td>
                              <td>{{ transaction.CARRIER }}</td>
                              <td>{{ transaction.PROD }}</td>
                              <td>{{ transaction.AMOUNT }}</td>
                              <td>{{ transaction.PHONE }}</td>
                              <td>{{ transaction.TRN }}</td>
                              <td>{{ transaction.ST }}</td>
                              <td>{{ transaction.T_TIME }}</td>
                            </tr>
                            <tr>
                              <td style="background-color: #1F4E78; color: white;" colspan="9" class="text-end">
                                <strong>UTAE : </strong></td>
                              <td style="background-color: #1F4E78; color: white;"><strong>{{ totalAmount }}</strong>
                              </td>
                              <td style="background-color: #1F4E78; color: white;" colspan="4"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-3">
                        <label class="d-inline-flex align-items-center">Mostrar
                          <select name="servicePageSize" [(ngModel)]="servicePageSize"
                            class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm"
                            (change)="onServicePageSizeChange()">
                            <option *ngFor="let option of servicePageSizeOptions" [ngValue]="option">{{ option }}
                            </option>
                          </select>
                        </label>
                        <div class="pagination-controls ms-auto">
                          <button class="btn btn-secondary" [disabled]="serviceCurrentPage === 0"
                            (click)="onServicePreviousPage()">Anterior</button>&nbsp;&nbsp;
                          <span>Página {{ serviceCurrentPage + 1 }} de {{ serviceTotalPages }} ({{ serviceTotalRecords
                            }} items)</span>&nbsp;&nbsp;
                          <button class="btn btn-secondary" [disabled]="serviceCurrentPage === serviceTotalPages - 1"
                            (click)="onServiceNextPage()">Siguiente</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>