.table td, .table th {
  padding: 0.25rem; /* Reduce el padding de las celdas */
}

.table-card-list tr {
  margin-bottom: 0; /* Asegura que no haya margen entre las filas */
}

.table-card-list td, .table-card-list th {
  vertical-align: middle; /* Centra verticalmente el contenido */
  white-space: nowrap; /* Previene que el texto se divida en varias líneas */
}

.table-card-list {
  border-collapse: collapse; /* Colapsa los bordes de la tabla para reducir espacio */
}


th, td, tr {
  text-align: center;
}
.row {
  display: flex;
  align-items: center;
}

.row .title {
  margin-right: 10px; /* Ajusta el margen según sea necesario */
}

.transacciones{
  font-size: 30px;
  font-weight: 500;
}

.respuesta{
  margin-left: 15px;
  font-size: 25px;
  font-weight: 400;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(110, 111, 173, 0.6); // Opacidad reducida para un fondo más claro
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.alert {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #0a1a2b;
  color: #9bb1c7;
  padding: 10px 20px;
  border-radius: 5px;
  border-left: 4px solid #007bff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.alert-icon {
  margin-right: 10px;
  font-size: 18px;
}

.alert-text {
  font-weight: normal;
}


.phone-container {
  text-align: center;
  margin-bottom: 20px;
}

.phone-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 24px;
}

.logo-container {
  text-align: center;
}

.logotipo-reporte {
  max-width: 200px;
  height: auto;
  border: 2px solid blue;
  border-radius: 5px;
}
.badge-primary {
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  font-size: 1em;
}

.badge-primary {
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  font-size: 1em;
  margin-bottom: 1em;
}

.badge-primary div {
  margin-bottom: 0.5em;
}
