<body>
  <header class="contenedorr"
    style="background-color: #2d313e; color: white; width: 100%; height: 70px; display: flex; justify-content: center; align-items: center; position: fixed; top: 0; z-index: 1000;">
    <div>
      <div>
        <div class="row">
          <div class="col-lg-12 text-center">
            Konnecta System 7.0
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container" id="container">
    <div class="form-container sign-in">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>¡Bienvenidos!</h1>
        <label for="username" class="label-responsive">Usuario</label>
        <input type="username" formControlName="username" class="form-control" id="username" placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <label for="password" class="label-responsive">Contraseña</label>
        <input [type]="type" formControlName="password" class="form-control" id="password" placeholder="Contraseña" />
        <span *ngIf="type == 'password'" class="eyeButton" (click)="myFunctionPasswordCurrent()">
          <i class="fa fa-eye"></i>
        </span>
        <span *ngIf="type == 'text'" class="eyeButton" (click)="myFunctionPasswordCurrent()">
          <i class="fa fa-eye-slash"></i>
        </span>
        <a href="#">Contraseña Olvidada?</a>
        <button class="btn btn-new descrip w-sm waves-effect waves-light" [disabled]="loginForm.invalid" type="submit">
          <div class="justigy">
            <span [@fadeInUp] *ngIf="loading" class="loader"></span>
            <span *ngIf="!loading">Guardar</span>
            <span style="margin-left: 5px;" *ngIf="loading">Guardando...</span>
          </div>
        </button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="login">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <div class="d-flex justify-content-center align-items-center h-100">
            <img src="../../../../assets/images/logoKonnectaDark.png" class="img-fluid rounded-start" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="contenedorr"
    style="background-color: #2d313e; color: white; position: absolute; bottom: 0; width: 100%; height: 70px; display: flex; justify-content: center; align-items: center;">
    <div class="row">
      <div class="col-lg-12 text-center">
        Copyright 2024 © Konnecta System 7.0 Todos los derechos reservados.
      </div>
    </div>
  </footer>
</body>